section{
    padding: 50px 0;
}
.row{
    padding-top: 5px;
}
.logo img{
    max-height: 20px;
}
.btn-reg{
    border: 1px solid #006aff;
    background-color: #fff;
    color: #006aff;
}
.text-grey{
    color: rgba(255, 255, 255, 0.7);
}
.text-grey1{
    /* color: rgba(255, 255, 255, 1); */
}
.text-darkblue{
    color:  rgb(0, 2, 99);
}
.text-blue{
    color: #006aff;
}
.bg-grey{
    background-color: #F3F5F9;
}
.my-btn{
    width: 100%;
    border: 0px;
}
header .my-btn:last-of-type{
    box-shadow: 2px 2px #888888;
}

.my-panel{ 
    padding: 15px;
}
.my-panel *{
    margin-top: 15px;
}
.text-allign{
    height: 369px;
}
.text-allign h1{
    font-size: 6rem;
    vertical-align: middle;
}
.text-allign p{
    font-size: 2.5rem;
    vertical-align: middle;
}
.bg-jumbotron{
    padding: 40px 0;
    background-image: url(img/bg-banner-home.jpg);
    background-size: contain;
}
.prova{
    background-color: lightgrey;
}
.trust *{
    padding: 5px 0;
}
.my-list{
    border-left: 2px solid grey;
}
.my-list-item{
    border: 0px solid white;
}
.my-corousel{
    width:100%;
}
.frecciasx{
    text-align: right;
}
.my-arrow{
    font-size: 3rem;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.dot{
    border-radius: 50%;
    border: 1px solid #006aff;
    width: 10px;
    height: 10px;
    margin: 3px;
    display: inline-block;
}
.b-bottom{
    border-bottom: 1px solid white;
}
.rocker{
    width: 50%;
    margin: auto;
    padding:20px 0;
}
.pd-50{
    padding: 70px 0;
}
.pd-50 p:first-of-type{
    font-size: 2rem;
}
.my-btn-create{
    border: 5px solid white;
}
.social{
    padding: 0 5px;
}
.bolder{
    font-weight: bold;
}
.g-logo{
    width: 20px;
    margin-top: 0;
    float: left;
}
a{
    color: #006aff;
}
.regions a{
    color: #0889C6;
}
.pd-30-tb{
    padding-bottom: 30px;
}
p{
    padding: ;
}
.navbar-default .navbar-toggle .my-icon-bar{
    background-color: #006aff;
}
.navbar-default .my-navbar-toggle{
    border: none;
}
.m-left{
    margin-left: 80px;
}
@media (min-width: 768px){
    .navbar-collapse.collapse {
        display: none;
    }
}


/* Utility Classes */
.border{
    border: 1px solid black;
}
.h-50{
    height: 50px;
}
.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}
.text-white{
    color: white;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: #006aff;
}
.bg-blue-btn{
    background-color: rgba(0, 106, 255, 0.5);
}
.bg-white-btn{
    background-color: rgba(255, 255, 255, 0.1);
}
.bg-darkblue{
    background-color: rgb(0, 2, 99);
}
.bg-gradient{
    background-image: linear-gradient(#0552e0, #0141b0);
}
.m-top{
    margin-top: 0;
}
.m-bottom{
    margin-bottom: 0;
}